
.tg_button {
	border: none;
	/* padding: var(--input-padding-vertical) var(--input-padding-horizontal); */
    padding:5px;
	width: 90%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
    margin-top: 2px;
    border-radius: 2px;
    margin-right: 5px;
    
}

.tg_button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

.tg_button:focus {
	outline-color: var(--vscode-focusBorder);
}

.tg_button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

.tg_button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}
