body {
  /* font-family: Arial; */
/* background-color: ; */
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  /* border: 1px solid  var(--vscode-list-deemphasizedForeground); */
  /* background-color: #f1f1f1; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.tabheader{
  margin-top: 0px;
 
}

/* Style the buttons inside the tab */
.tab button {
  /* background-color: inherit; */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 13px;
  background-color: var(--vscode-editor-background);
  opacity: .5;
  color:var(--vscode-button-foreground)

}

/* Change background color of buttons on hover */
.tab button:hover {
 
  background-color: var(--vscode-list-deemphasizedForeground);
  opacity: .7;
  color:var(--vscode-button-foreground)

}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--vscode-list-deemphasizedForeground);
   color:var(--vscode-button-foreground);
   opacity: .9;
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--vscode-list-deemphasizedForeground);
  border-radius: 3px;
 
}
.notes {
 display: none;
  padding: 5px;
  border: 1px solid  var(--vscode-list-deemphasizedForeground);;
  border-radius: 3px;
  margin-top: 10px;

}
.notelegend{
  padding:2px;
  font-weight: bold;
}
.notecontent{
  padding:5px;
  height: 20px;
  overflow: auto;
}
.dlg {
  width: 90%;
  min-width: 50%;
  /* position: absolute; */
  /* top: 50%; */
  /* min-height: 70%; */
  /* margin: auto; */
  
  /* transform: translatey(-50%); */
  border-radius: 5px;
  background-color: var(--vscode-activityBar-background);
  border: var(--vscode-activityBar-border);
  color:var(--vscode-activityBar-foreground);


}

