body {

}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;

}
.tabheader{
  margin-top: 0px;
 
}

/* Style the buttons inside the tab */
.tab_button {
  float: left;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 12px;
  background-color: var(--vscode-editor-background);
  opacity: .5;
  color:var(--vscode-button-foreground);
  border-style: solid;
  border-color: var(--vscode-editor-background);
  /* border-top: 2px; */
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* Change background color of buttons on hover */
.tab_button:hover {
  opacity: .7;

}

/* Create an active/current tablink class */
.tab_button.active {
   color:var(--vscode-button-foreground);
   opacity: .9;
   border-color: blue;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    opacity: .9;
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 5px 5px;
 
}
.notes {
 display: none;
  padding: 5px;
  border: 1px solid  var(--vscode-list-deemphasizedForeground);;
  border-radius: 3px;
  margin-top: 10px;

}
.notelegend{
  padding:2px;
  font-weight: bold;
}
.notecontent{
  padding:5px;
  height: 20px;
  overflow: auto;
}
.dlg {
  padding-top: 1px;
  min-width: 50%;
  background-color: var(--vscode-activityBar-background);
  border: var(--vscode-activityBar-border);
  color:var(--vscode-activityBar-foreground);


}

